langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv # for research papers
pymupdf
wikipediaa
langchain-text-splitters
langchain-openai
langchain_groq
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
rank_bm25
